[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# CS0414: The field 'CaptureForm.ConfigurationFinished' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = none
